version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.14

        steps:
          - checkout
          # Download and cache dependencies
          - restore_cache:
              keys:
                - v1-dependencies-{{ checksum "./functions/package.json" }}
                # fallback to using the latest cache if no exact match is found
                - v1-dependencies-

          # Install all needed dependencies from package.json
          - run:
              working_directory: ~/project/functions
              command: yarn install

          # Save the cache including node_modules folder
          - save_cache:
              paths:
                - ~/project/functions/node_modules
              key: v1-dependencies-{{ checksum "./functions/package.json" }}

          # run tests with mocha!
          - run:
              working_directory: ~/project/functions
              command: yarn test
